body {
  text-align: center;
  background-color: #747579;
  
}
.graph-section{
  width: 600px;
  height: 300px;
  margin-top: 50px;
  position: absolute;
  left: 25%;
  background-color: rgb(223, 226, 226);
}

h1{
color: whitesmoke;
}


.card{
  background-color: antiquewhite;
  padding: 20px;
  box-sizing: border-box;
  box-sizing: 0 0 10px 0 #cecece;
  border: 1px solid #cecece;
  width: 400px;
  margin: 10px 10px;

}

.card-style{
  display: flex;
  justify-content: center;
}


.optionClass{
  margin-top:25px;
}

.optionClass select{
  margin-left: 10px;
}


@media screen and (max-width : 1000px) {
  .graph-section{
    width: 520px;
    height: 520px;
    margin-top: 25px;
    position: absolute;
    left: 20%;
  }

  .card{
    width: 300px;
    
  }
}




@media screen and (max-width : 768px) {
  .graph-section{
    width: 450px;
    height: 450px;
    margin-top: 25px;
    position: absolute;
    left: 12%;
  }

  .card{
    width: 200px;
    
  }
}


@media screen and (max-width : 450px) {
  .graph-section{
    width: 350px;
    height: 350px;
    margin-top: 25px;
    position: absolute;
    left: 9%;
  }

  .card{
    width: 150px;
    
  }
}